<div class="container" id="all_students">
	<div class="row" style="padding-top: 20px">
		<div class="col-md-8"><h3>Welcome to Scholar Strategy Review</h3></div>
		<div class="col-md-1"><button class="btn btn-info" ng-click="review()">Add/Edit Review</button></div>
		<div class="col-md-offset-1 col-md-1"><button ng-click="edit()" class="btn btn-primary">Profile</button></div>
		<div class="col-md-1" ng-click="student_signOut()"><button class="btn btn-danger">Sign Out</button></div>
	</div>
	<div class="row">
		<h3>Search</h3>
		<div class="col-md-4">
			<input type="text" name="" ng-model="search">
		</div>
		<!-- <div class="col-md-3">
			<b>University: </b>
			<input type="text" name="">
		</div>
		<div class="col-md-3">
			<b>Program: </b>
			<input type="text" name="">
		</div> -->
	</div>
	<br>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<th>Serial No</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>University</th>
					<th>Degree</th>
					<th>Program</th>
					<th>Joined</th>
					<th>Graduate</th>
					<th>Rating</th>
				</thead>
				<tr ng-repeat="(key, value) in students | filter: search" ng-click="goToId(value.firebaseId)">
					<td>{{key + 1}}</td>
					<td>{{value.firstname}}</td>
					<td>{{value.lastname}}</td>
					<td>{{value.university}}</td>
					<td>{{value.degree}}</td>
					<td>{{value.program}}</td>
					<td>{{value.year_joined}}</td>
					<td>{{value.year_graduated}}</td>
					<td class="rate">{{"*".repeat(value.rating)}}</td>
					<!-- <div class="my-raing"></div> -->
				</tr>
			</table>
		</div>
	</div>
	<!-- <footer>This is the footer</footer> -->
	<!-- <script type="text/javascript">
		function getStarStudents(){
			var scope = angular.element($("#all_students")).scope();
			scope.students.forEach(function(key){
				$(".my-raing").starRating({
				  totalStars: 5,
				  emptyColor: 'lightgray',
				  activeColor: 'yellow',
				  initialRating: key.rating,
				  strokeWidth: 0,
				  useGradient: false,
				  readOnly: true
				});
			});
			scope.$apply();
		}
	</script> -->
</div>
