<div class="container-fluid" id="all_students">
	<div class="row" style="padding-top: 20px">
		<div class="col-md-8"><h3>Scholar Strategy School Reviews (beta)</h3></div>
		<div class="col-md-1"><button class="btn btn-info" ng-click="review()">Add/Edit Review</button></div>
		<div class="col-md-offset-1 col-md-1"><button ng-click="edit()" class="btn btn-primary">My Profile</button></div>
		<div class="col-md-1" ng-click="student_signOut()"><button class="btn btn-danger">Sign Out</button></div>
	</div>
	<hr><br>
	<div class="loading-gif" ng-hide="show_page"></div>
	<div ng-show="show_page">
		<div class="row">
			<div class="col-md-3">
				<label style="font-size: 1.1em">Search</label>
				<input type="text" class="form-control" ng-model="search">
			</div>
			<div class="col-md-3 col-md-offset-3">
				<label style="font-size: 1.1em">University</label>
				<select ng-model="univ" class="form-control">
					<option ng-repeat="un in univs">{{un}}</option>
				</select>
			</div>
			<div class="col-md-3">
				<label style="font-size: 1.1em">Program</label>
				<select ng-model="prog" class="form-control">
					<option ng-repeat="pr in progs">{{pr}}</option>
				</select>
			</div>
			<!-- <div class="col-md-2" >
				
			</div> -->
			<!-- <div class="col-md-1 col-md-offset-3">
				<label style="font-size: 1.1em">University</label>
			</div>
			<div class="col-md-2">
				<select ng-model="univ" class="form-control">
					<option ng-repeat="un in univs">{{un}}</option>
				</select>
			</div>
			<div class="col-md-1">
				<label style="font-size: 1.1em">Program</label>
			</div>
			<div class="col-md-2">
				<select ng-model="prog" class="form-control">
					<option ng-repeat="pr in progs">{{pr}}</option>
				</select>
			</div> -->
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover table-responsive table-bordered">
					<thead>
						<!-- <th class="col-md-1">First Name</th>
						<th class="col-md-1">Last Name</th> -->
						<th class="col-md-2">University</th>
						<th class="col-md-1">Degree</th>
						<th class="col-md-2">Program</th>
						<th class="col-md-1">GPA</th>
						<th class="col-md-1">Graduated</th>
						<th class="col-md-2">Internship</th>
						<th class="col-md-2">Feedback</th>
						<th class="col-md-1">Rating</th>
					</thead>
					<tr ng-repeat="(key, value) in students | filter: search | filter : {university : univ} | filter: {program : prog}" ng-click="goToId(value.firebaseId)">
						<!-- <td>{{value.firstname}}</td>
						<td>{{value.lastname}}</td> -->
						<td>{{value.university}}</td>
						<td>{{value.degree}}</td>
						<td>{{value.program}}</td>
						<td>{{value.gpa}}</td>
						<td>{{value.year_graduated}}</td>
						<td>{{value.internship}}</td>
						<td>{{value.overall.substring(0, 30)}}...</td>
						<td ng-class="value.rating >=7 ? 'rate-green' : 'rate-red'">{{value.rating}}</td>
						<!-- <div class="my-raing"></div> -->
					</tr>
				</table>
			</div>
		</div>
		<hr>
	</div>
	<!-- <script type="text/javascript">
		function getStarStudents(){
			var scope = angular.element($("#all_students")).scope();
			scope.students.forEach(function(key){
				$(".my-raing").starRating({
				  totalStars: 5,
				  emptyColor: 'lightgray',
				  activeColor: 'yellow',
				  initialRating: key.rating,
				  strokeWidth: 0,
				  useGradient: false,
				  readOnly: true
				});
			});
			scope.$apply();
		}
	</script> -->
</div>
