tr {
	cursor: pointer;
}

/*div {
	padding-top: 5px;
	padding-bottom: 5px;
}*/

.rate {
	font-size: 1.5em;
	color: red;
}

.message {
	font-size: 2em;
	color: red;
	padding: 1em 1em;
}

.align_center {
	margin: auto;
	width: 50%;
	text-align: center;
	padding: 1em 1em;
}

.pad {
	padding-bottom: 15px;
}

.pad-around {
	padding-right: 15px;
}